section p {
  border: 1px solid red;
}

section > p {
  border: 2px solid blue;
}

p.my-para {
  background-color: gray;
}

p.my-para + p {
  background-color: blue;
}

p.my-para ~ p {
  background-color: yellow;
}
a:hover {
  background-color: red;
}

a:link {
  color: yellow;
}
header.fixed-header {
  position: fixed;
  top: 0;
  left: 5px;
  right: 5px;
}

.actual-about-us {
  background-color: gray;
  padding: 40px 0;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: sticky;
  top: 46px;
  z-index: 5;
}

/*card*/

.employees {
  margin-bottom: 50px;
  padding-top: 100px;
  text-align: center;
}
.user-info {
  margin-top: 150px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  position: relative;
  margin: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

img.user-image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 25%;
  top: -78px;
}
