section.contact-form {
  border: 2px solid #aba5a5;
  padding: 10px;
}
.row label {
  padding: 10px 10px 10px 0;
  font-size: 1.2rem;
  display: inline-block;
}

.row input,
.row textarea {
  border: 2px solid gray;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  display: block;
  width: 100%;
}

.btn-container button {
  border: 2px solid gray;
  padding: 10px;
  width: 200px;
}

.btn-container {
  text-align: center;
  margin-top: 10px;
}
/*
* temp rule
*/
article.main-content {
  margin-top: 200px;
}
.main-content header {
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  section.contact-form {
    width: 70%;
    margin: 0 auto;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .row input,
  .row textarea {
    display: inline-block;
    width: 60%;
    margin: 5px 0;
  }

  .row label {
    width: 200px;
  }
}
