.test div {
  background-color: green;
}

.test h1 {
  color: yellow;
}

.test div#second-div {
  color: brown;
  background-color: gray;
}

.my-background {
  background-color: brown;
}

/* Flex box */
.container {
  border: 1px solid red;
  display: flex;
}

.item {
  border: 1px solid gray;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
  width: 250px;
}
