* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----menu------*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: #999191;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

ul.menu {
  list-style: none;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #999191;
  top: -200px;
  transition: top 1s;
}
.menu-icon + input[type="checkbox"]:checked + .menu {
  top: 37px;
}
.menu a {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

label.menu-icon div {
  border: 2px solid #080808;
  width: 40px;
  margin-bottom: 5px;
}

label.menu-icon {
  display: inline-block;
  padding: 10px;
}

.menu-icon input[type="checkbox"] {
  display: none;
}

.menu-icon + input[type="checkbox"] {
  display: none;
}
h1.logo:first-letter {
  color: red;
  font-size: 2.5rem;
}
@media screen and (min-width: 769px) {
  label.menu-icon {
    display: none;
  }
  .main-content {
    margin-top: 70px;
  }

  ul.menu {
    list-style-type: none;
    text-align: center;
    display: block;
    padding: 0;
    position: static;
  }

  .menu a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 200px;
    color: #4a4a6b;
  }

  .menu a:hover {
    background-color: gray;
  }
  .menu li {
    display: inline;
    font-size: 1.5rem;
  }
}

footer.fixed-footer {
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #cfc6c6;
  position: fixed;
  bottom: 0;
  left: 2px;
  right: 2px;
}
