article.product {
  border: 2px solid #c7c2c2;
  width: 70%;
  margin: 0 auto;
  position: relative;
  box-shadow: 2px 2px 3px #d2cdcd;
  border-radius: 2px;
}

button.add-cart {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

button.add-cart:hover {
  background-color: white;
  color: black;
}

h2.product-title {
  padding: 0 5px;
  text-align: center;
  text-transform: uppercase;
}

footer {
  text-align: center;
  margin-top: 10px;
}

p.desc::first-letter {
  font-size: 24px;
}

p.desc::first-line {
  background-color: red;
}

p.price {
  font-size: 2rem;
  color: #dd5a67;
  position: absolute;
  left: 181px;
  top: 37px;
}

.tooltip {
  border: 1px solid #d3d2cf;
  padding: 10px;
  position: absolute;
  background: #eae7e2;
  left: 100px;
  display: none;
}
p.shipping {
  padding: 3px;
  font-size: 1.2em;
  margin: 0;
  width: 150px;
}

p.shipping:hover {
  color: gray;
}

p.shipping:hover + .tooltip {
  display: block;
}

.details-list li {
  margin-left: 30px;
}
